Host *
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes

Host github.com
    User git
    IdentityFile /var/githubkeys/id_rsa
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no


